<!DOCTYPE HTML>
<html>
	<head>
		<title>Dashboard - RV Monitor</title>
		<script src="https://unpkg.com/htmx.org@1.9.6"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}"></script>
	</head>

{% if var %}
	<h1>RELAY CONTROL</h1>
	<div class="relay-btn-container">
		<div><button hx-get="/toggle_relay/A" hx-target="this">Relay A</button></div>
		<div><button hx-get="/toggle_relay/B" hx-target="this">Relay B</button></div>
		<div><button hx-get="/toggle_relay/C" hx-target="this">Relay C</button></div>
		<div><button hx-get="/toggle_relay/D" hx-target="this">Relay D</button></div>
		<div><button hx-get="/toggle_relay/E" hx-target="this">Relay E</button></div>
		<div><button hx-get="/toggle_relay/F" hx-target="this">Relay F</button></div>
		<div><button hx-get="/toggle_relay/G" hx-target="this">Relay G</button></div>
		<div><button hx-get="/toggle_relay/H" hx-target="this">Relay H</button></div>
	</div>
	<div class="voltage-monitor-container">
		<h1>BATTERY</h1>
	</div>
{% else %}
	<h1>VALUE NOT PRESENT</h1>
{% endif %}
</html>
