<!DOCTYPE HTML>
<html>
	<head>
		<title>Dashboard - RV Monitor</title>
		<!-- <script src="https://unpkg.com/htmx.org@1.9.6"></script> -->
		<script src="{{ url_for('static', filename='scripts/script-htmx.js') }}"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}"></script>
	</head>
	<body>
	<div class="header-bar">
		<h1>SWITCHES</h1>
		<h3><a href="/advanced">ADVANCED PANEL</a></h3>
	</div>
	<div class="relay-btn-container">
		{% if relay_state["A"] == True %}
		<div class="relay-btn relay-active">
		{% else %}
		<div class="relay-btn">
		{% endif %}
			<button hx-get="/toggle_relay/A" hx-target="this" onClick="window.location.href='/'">Relay A</button>
		</div>
		
		{% if relay_state["B"] == True %}
		<div class="relay-btn relay-active">
		{% else %}
		<div class="relay-btn">
		{% endif %}
			<button hx-get="/toggle_relay/B" hx-target="this" onClick="window.location.href='/'">Relay B</button>
		</div>
		
		{% if relay_state["C"] == True %}
		<div class="relay-btn relay-active">
		{% else %}
		<div class="relay-btn">
		{% endif %}
			<button hx-get="/toggle_relay/C" hx-target="this" onClick="window.location.href='/'">Relay C</button>
		</div>
		
		{% if relay_state["D"] == True %}
		<div class="relay-btn relay-active">
		{% else %}
		<div class="relay-btn">
		{% endif %}
			<button hx-get="/toggle_relay/D" hx-target="this" onClick="window.location.href='/'">Relay D</button>
		</div>
		
		{% if relay_state["E"] == True %}
		<div class="relay-btn relay-active">
		{% else %}
		<div class="relay-btn">
		{% endif %}
			<button hx-get="/toggle_relay/E" hx-target="this" onClick="window.location.href='/'">Relay E</button>
		</div>
		
		{% if relay_state["F"] == True %}
		<div class="relay-btn relay-active">
		{% else %}
		<div class="relay-btn">
		{% endif %}
			<button hx-get="/toggle_relay/F" hx-target="this" onClick="window.location.href='/'">Relay F</button>
		</div>
		
		{% if relay_state["G"] == True %}
		<div class="relay-btn relay-active">
		{% else %}
		<div class="relay-btn">
		{% endif %}
			<button hx-get="/toggle_relay/G" hx-target="this" onClick="window.location.href='/'">Relay G</button>
		</div>
		
		{% if relay_state["H"] == True %}
		<div class="relay-btn relay-active">
		{% else %}
		<div class="relay-btn">
		{% endif %}
			<button hx-get="/toggle_relay/H" hx-target="this" onClick="window.location.href='/'">Relay H</button>
		</div>
	</div>
	<div><h1>BATTERY</h1></div>
	<div class="voltage-monitor-container">
		<div class="voltage-monitor">
			<div class="voltage-monitor-img">
				<img src="{{ url_for('static', filename='img/house.svg') }}" alt="house icon" width="100" height="100" />
			</div>
			<div class="voltage-monitor-reading">	
				<h2>House Batteries</h2>
				<span id="house-battery-voltage" class="voltage-monitor-reading-number">{{ house_voltage }}</span><span> VDC</span>
			</div>
		</div>
		<div class="voltage-monitor">
			<div class="voltage-monitor-img">
				<img src="{{ url_for('static', filename='img/truck.svg') }}" alt="car icon" width="100" height="100" />
			</div>
			<div class="voltage-monitor-reading">
				<h2>Car Batteries</h2>
				<span id="car-battery-voltage" class="voltage-monitor-reading-number">12.3</span><span> VDC</span>
			</div>
		</div>
	</div>
	</body>
</html>
